<div class="container">
  <div class="row">
  <% @articles.each do |article| %>
    <%= link_to article do %>
      <div class="col-md-3 space-m article-block">
        <%= image_tag "top-image1.jpg", class: 'img-responsive image-block-top' %>
        <div class="image-block-bottom">
          <p class="title"><%= article.title %></p>
          <span>
          <%= article.created_at.strftime("%Y年%m月%d日") %>
        </span>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="row">
    <%= link_to '新規作成', new_article_path, class: 'space-m btn btn-primary' %>
</div>
</div>
